<h1>Import Transactions</h1>
<form>
    <div id="csvSelection">
        <h2>Type of CSV:</h2>
        <select ng-model="transactionImportCtrl.selectedFileType"
                ng-options="fileType.name for fileType in transactionImportCtrl.fileTypes"></select>
    </div>

    <div id="fileSelection" ng-show="transactionImportCtrl.selectedFileType">
        <h2>Select a file:</h2>

        <div file-input="transactionImportCtrl.currentFile"
             on-change="transactionImportCtrl.readInput()"></div>
    </div>

    <div id="accountSelection" ng-show="transactionImportCtrl.hasAccounts()">
        <h2>Account</h2>
        <select ng-model="transactionImportCtrl.selectedAccount"
                ng-options="account.name for account in transactionImportCtrl.currentFileContent.accounts"></select>
    </div>

    <div id="accountTransactions" ng-show="transactionImportCtrl.hasTransactions()">
        <h2>Transactions</h2>
        <table>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Post Date</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>

        <tr ng-repeat="transaction in transactionImportCtrl.getCurrentAccountTransactions()">
            <td>{{transaction.description}}</td>
            <td>{{transaction.transactionDate | date:"MM/dd/yyyy" }}</td>
            <td>{{transaction.transactionPostDate | date:"MM/dd/yyyy" }}</td>
            <td>{{transaction.amount | currency}}</td>
            <td>{{transaction.transactionType}}</td>
        </tr>
        </table>
    </div>
</form>