extends layout
block content
    h1 dgfinance
    ul
        li
            a(href="#") Home
        li
            a(href="#/bankAccount") Accounts
        li
            a(href="#/transactionImport") Import


    div(data-ng-view)

block scripts
    script(data-main="js/app" src="/vendor/requirejs/require.js")
