<h4>Import Transactions</h4>
<form>
  <div id="csvSelection">
    <h5>Type of CSV:</h5>
    <select ng-model="transactionImportCtrl.selectedFileType" ng-options="fileType.name for fileType in transactionImportCtrl.fileTypes">
    </select>
  </div>

  <div id="fileSelection" ng-show="transactionImportCtrl.selectedFileType">
    <h5>Select a file:</h5>

    <div file-input="transactionImportCtrl.currentFile" on-change="transactionImportCtrl.readInput()"></div>
  </div>

  <div id="accountSelection" ng-show="transactionImportCtrl.hasAccounts()">
    <h5>Account</h5>
    <select ng-model="transactionImportCtrl.selectedAccount" ng-options="account.name for account in transactionImportCtrl.currentFileContent.accounts"></select>
  </div>

  <div id="accountTransactions" ng-show="transactionImportCtrl.hasTransactions()">
    <h5>Transactions</h5>
    <div ui-grid="{ data: transactionImportCtrl.getCurrentAccountTransactions() }" class="transactionGrid"></div>
  </div>

  <div id="applyToAccountSelection" ng-show="transactionImportCtrl.hasTransactions()">
    <h5>Apply to account:</h5>
    <select ng-model="transactionImportCtrl.selectedBankAccount" ng-options="account.description for account in transactionImportCtrl.bankAccounts">
    </select>
  </div>

  <button ng-show="transactionImportCtrl.selectedBankAccount" ng-click="transactionImportCtrl.saveToAccount()">Save to Account</button>
</form>
