<h2>Bank Accounts</h2>

<h3>Current Accounts:</h3>
<select ng-model="bankAccountCtrl.selectedBankAccount"
 ng-options="account.description for account in bankAccountCtrl.bankAccounts"
  ng-change="bankAccountCtrl.accountChanged()"></select>

<h3>Transactions</h3>
<table>
  <tr>
    <th>Description</th>
    <th>Date</th>
    <th>Post Date</th
      >
    <th>Amount</th>
    <th>Type</th>
    <th>Notes</th>
  </tr>

  <tr ng-repeat="transaction in bankAccountCtrl.accountTransactions">
    <td>{{transaction.description}}</td>
    <td>{{transaction.transactionDate | date:"MM/dd/yyyy" }}</td>
    <td>{{transaction.transactionPostDate | date:"MM/dd/yyyy" }}</td>
    <td>{{transaction.amount | currency}}</td>
    <td>{{transaction.transactionType}}</td>
    <td>{{transaction.notes}}</td>
  </tr>
</table>
