extends layout
block content
  div(ng-include="'/js/app/navigation/navigation.html'")
  div(ng-include="'/js/app/notification/notification.html'")
  div(class="container")
    div(data-ng-view)

block scripts
  script(src='/vendor/system.js/dist/system.js')
  script(src='/js/app.js')
