doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/angular-ui-grid/ui-grid.min.css')
    script(src='vendor/traceur/traceur.min.js')
    block scripts
  body 
    block content
